<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                Copyright &copy; Woodhill Studios 2016
            </div>
        </div>
    </div>
</footer>
<nav role="menu">
    <div class="inner">
        <ul>
            <li>
                <a href="https://www.instagram.com/woodhillstudios/">
                    Instagram<i class="fa fa-external-link" aria-hidden="true"></i>
                </a></li>
                <li>
                    <a href="https://www.youtube.com/channel/UCboOe0cC-8wlC-GzeTu1BSQ">
                        YouTube<i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:info.woodhill@gmail.com">
                        info.woodhill@gmail.com 
                    </a>
                </li>
        </ul>
    </div>
    <button class="close">
        Close
    </button>
</nav>
