@import "_grid.css";
@import "_typography.css";

:root {
    --textColor: #585858;
    --green: #7bd0c1;
    --magenta: #c75b9b;
    --red:#f2849e;
    --lightblue: #7ecaf6;
    --purple: #ae85ca;
    --violet: #8499e7;
}

body {
    font-family: 'Source Sans Pro', sans-serif; 
    color: var(--textColor); 
}

header {
    padding: 50px 0 40px;

    & a {
        color: inherit;

        &:hover {
            color: var(--violet);
            text-decoration: none;
        }
    }

    & nav {
        position: fixed;
        right: 2em;
        top: 1em;
        z-index: 10000;
    }

    & nav ul {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & nav ul li {
        display: block;
        padding: 0;
    }

    & nav ul li a {
        display: block;
        position: relative;
        height: 3em;
        line-height: 3em;
        padding: 0 1.5em;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        border: 0;
        font-size: 0.8em;
        font-weight: 900;
        letter-spacing: 0.35em;
        text-transform: uppercase;
    }

    & nav ul li a[href="#menu"] {
        -webkit-tap-highlight-color: transparent;
        width: 4em;
        text-indent: 4em;
        font-size: 1em;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }

    & nav ul li a[href="#menu"]:before, & nav ul li a[href="#menu"]:after {
        -moz-transition: opacity 0.2s ease;
        -webkit-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2em 2em;
    }

    & nav ul li a[href="#menu"]:before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %238499e7%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
        opacity: 0;
    }

    & nav ul li a[href="#menu"]:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
        opacity: 1;
    }

    & nav ul li a[href="#menu"]:hover:before {
        opacity: 1;
    }

    & nav ul li a[href="#menu"]:hover:after {
        opacity: 0;
    }
}

.l--center {
    text-align: center;
}

.startpage {
    & h1 {
        text-align: center;
        margin: 0;
        line-height: 1.3em;
    }

    & .lead {
        margin-top: 45px;
        text-align: center;
        font-size: 1.25em;
    }
}

.instafeed {
    &__item {
        padding-bottom: 15px;
        margin-bottom: 15px;

        &__meta {
            padding: 15px 0;

            & span i {
                padding-right: 5px;
            }
        }

        &__likes {
            color: var(--textColor);
            margin-right: 15px;
        }

        a {
            color: inherit;
        }
    }

    &__image {
        color: var(--textColor);
        display: block;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.1);
            text-decoration: none;
        }
    }
}

footer {
    background-color: #f6f6f6;
    padding: 50px; 
}

nav[role="menu"] {
    transform: translateX(22em);
    transition: transform 0.45s ease, visibility 0.45s;
    position: fixed;
    top: 0;
    right: 0;
    width: 22em;
    background-color: #585858;
    height: 100%;
    max-width: 80%;
    z-index: 10020;

    & .inner {
        padding: 1.5em 2.75em;
    }

    & ul {
        padding: 0;
    }

    & ul li {
        border-top: 1px solid rgba(255, 255, 255, 0.15);

        &:first-child {
            border-top: none;
        }

        & .fa {
            line-height: 1em;
            font-size: 17px;
            padding-left: 1em;
            color: #fff;
        }
    }

    & ul li a {
        color: #fff;
        display: block;
        padding: 1em 0;
        line-height: 1.5em;
        font-size: 19px;
        font-weight: 300;
        transition: color 0.2s ease;

        &:hover {
            color: var(--violet);
            text-decoration: none;
        }
    }

    & .close {
        transition: opacity 0.45s ease, transform 0.45s ease;
        display: block;
        position: absolute;
        top: 2em;
        left: -6em;
        width: 6em;
        text-indent: 6em;
        height: 3em;
        opacity: 0;
        overflow: hidden;
        background: none;
        border: none;
        display: none;

        &:before {
            background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23f2849e%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
            opacity: 0;
        }

        &:after {
            background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
            opacity: 1;
        }

        &:before, &:after {
            transition: opacity 0.2s ease;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 2em 2em;
        }
    }
}

body.js-menu-toggled {
    & nav[role="menu"] {
        transform: translateX(0);
        visibility:visible;

        & .close {
            transform: scale(1.0) rotate(0deg);
            display: block;
            opacity: 1;
        }
    }

    & > .container, & footer {
        opacity: 0.25;
    } 
}

body {
    & > .container, & footer {
        transition: opacity 0.45s ease;
    }
}
